.flip-container {
    perspective: 1000px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);    
    min-height: 620px;
  }
  
  .flipper {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    min-height: 100%;
    position: relative;
  }
  
  .flip-container.flipped .flipper {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    min-height: 100%;
    backface-visibility: hidden;
    background: white;
    border-radius: 12px;
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .back {
    transform: rotateY(180deg);
  }

  .scouting-box {
    width: 300px;
    position: relative;
    align-self: flex-start;
  }
  
  
  .player-image {
    display: block;
    margin: 0 auto 15px auto;
    width: 150px;
    height: auto;
    border-radius: 8px;
  }  